@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nuvu</h1>
    <p class="lead">Modulo de asignacion y creacion de tarjetas</p>  
</div>

<div class="row">
    <div class="col-md-6 text-center">
        <h2>Persona</h2>
        <p>
            Modulo para la creación de Personas
        </p>
        <a class="btn btn-success btn-sm" href="/Personas">Personas</a>
    </div>

    <div class="col-md-6 text-center">
        <h2>Tarjetas</h2>
        <p>
            Modulo para la creación de Tarjetas
        </p>
        <a class="btn btn-success btn-sm" href="/Tarjetas">Tarjetas</a>
    </div>  
</div>